.second {
	background-image: url('https://res.cloudinary.com/dt0nkqowc/image/upload/v1674921980/327428246_570649508261681_5013472164523273726_n_dp4jro.jpg');
	background-size: fill;
	height: 150vh;
}
