.first {
	background-image: url('https://res.cloudinary.com/dt0nkqowc/image/upload/v1674921752/background_image_ac9nai.jpg');
	background-size: cover;
	background-position: top center;
	height: 130vh;
}
